.ViewPlanButton{
    width: 60%;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 5.3%;
    margin-top: 8%;
    border: none;
    text-transform: uppercase;
}
.ViewPlanButton:hover{
   background-image: linear-gradient(#d4f6f7,#f1dcac);
}
.ViewPlanButton :hover:active {
    transform: translateY(2px);
}
