/*Media Query for Iphone 5 */
@media  (max-width : 320px){
    /*set div container */
    .Nav-container{
        width: 100%;
        display:flex;
        
    }
    /*set div for Compny name and logo */
    .NameAndLogo{
        width: 41%;
        background-color: rgb(49, 89, 223);
        margin:0;
        padding:0;
        display:flex;
        justify-content:left;
        text-align:left;
        align-items:left;
        margin-top: 0%;
        margin-left: 0%;
    }
    /*set h2 style for company name and logo*/
    .LogoAndText{
        margin-left: 0%;
        margin-top: 0%;
        display:inline-block;
        padding:13px 3px;
        color:white;
        text-transform:uppercase;
        letter-spacing:2px;
        text-decoration:none;
        font-size:9px;
        font-weight: bold;
        overflow:hidden;
        transition:0.2s;
        
    }
    /*set second div style for all navigation texts */
    .Nav-text {
        width: 59%;
        background-color: yellow;
        margin:0;
        padding:0;
        display:flex;
        justify-content:center;
        text-align:left;
        align-items:left;
    }
    /*set all h2 text inside second div Nav-text */
    .h2-text{
    margin-left: 0%;
    display:inline-block;
    padding:15px 10px;
    color:rgb(0, 0, 0);
    text-transform:uppercase;
    letter-spacing:0px;
    text-decoration:none;
    font-size:8px;
    overflow:hidden;
    transition:0.2s;
    cursor: pointer;
    }
    /*set hover effect on all h2 text inside Nav-text Div */
    .h2-text:hover {
        cursor: pointer;
        color:rgb(0, 0, 0);
        box-shadow: 0 0 16px #bbbe25, 0 0 40px #2596be;
        transition-delay: 0.1s;
    } 
    /*set Books Hub Icon */
    .Logo-icon{
    width: 20px;
    height: 20px;
    margin-top: -1%;
    margin-right: 2px;
    margin-left: 0px;
    }

}













/*Media Query for SamSung S5 */
@media only screen and (min-width:321px) and (max-width : 360px){
    /*set div container */
    .Nav-container{
        width: 100%;
        display:flex;
    }
    /*set div for Compny name and logo */
    .NameAndLogo{
        width: 41%;
        background-color: rgb(49, 89, 223);
        margin:0;
        padding:0;
        display:flex;
        justify-content:left;
        text-align:left;
        align-items:left;
        margin-top: 0%;
        margin-left: 0%;
    }
    /*set h2 style for company name and logo*/
    .LogoAndText{
        margin-left: 0%;
        margin-top: 0%;
        display:inline-block;
        padding:13px 3px;
        color:white;
        text-transform:uppercase;
        letter-spacing:2px;
        text-decoration:none;
        font-size:10px;
        font-weight: bold;
        overflow:hidden;
        transition:0.2s;
        
    }
    /*set second div style for all navigation texts */
    .Nav-text {
        width: 59%;
        background-color: yellow;
        margin:0;
        padding:0;
        display:flex;
        justify-content:center;
        text-align:left;
        align-items:left;
    }
    /*set all h2 text inside second div Nav-text */
    .h2-text{
    margin-left: 0%;
    display:inline-block;
    padding:15px 12px;
    color:rgb(0, 0, 0);
    text-transform:uppercase;
    letter-spacing:0px;
    text-decoration:none;
    font-size:8px;
    overflow:hidden;
    transition:0.2s;
    cursor: pointer;
    }
    /*set hover effect on all h2 text inside Nav-text Div */
    .h2-text:hover {
        cursor: pointer;
        color:rgb(0, 0, 0);
        box-shadow: 0 0 16px #bbbe25, 0 0 40px #2596be;
        transition-delay: 0.1s;
    } 
    /*set Books Hub Icon */
    .Logo-icon{
    width: 20px;
    height: 20px;
    margin-top: -1%;
    margin-right: 2px;
    margin-left: 0px;
    }

}













/*Media Query for Iphone 5/6/7 */
@media only screen and (min-width:361px) and (max-width:375px){
    /*set div container */
    .Nav-container{
     width: 100%;
     display:flex;
    
 }
 /*set div for Compny name and logo */
 .NameAndLogo{
     width: 41%;
     background-color: rgb(49, 89, 223);
     margin:0;
     padding:0;
     display:flex;
     justify-content:left;
     text-align:left;
     align-items:left;
     margin-top: 0%;
     margin-left: 0%;
 }
 /*set h2 style for company name and logo*/
 .LogoAndText{
     margin-left: 0%;
     margin-top: 0%;
     display:inline-block;
     padding:13px 3px;
     color:white;
     text-transform:uppercase;
     letter-spacing:2px;
     text-decoration:none;
     font-size:12px;
     font-weight: bold;
     overflow:hidden;
     transition:0.2s;
     
 }
 /*set second div style for all navigation texts */
 .Nav-text {
     width: 59%;
     background-color: yellow;
     margin:0;
     padding:0;
     display:flex;
     justify-content:center;
     text-align:left;
     align-items:left;
 }
 /*set all h2 text inside second div Nav-text */
 .h2-text{
 margin-left: 0%;
 display:inline-block;
 padding:15px 10px;
 color:rgb(0, 0, 0);
 text-transform:uppercase;
 letter-spacing:0px;
 text-decoration:none;
 font-size:10px;
 overflow:hidden;
 transition:0.2s;
 cursor: pointer;
 }
 /*set hover effect on all h2 text inside Nav-text Div */
 .h2-text:hover {
     cursor: pointer;
     color:rgb(0, 0, 0);
     box-shadow: 0 0 16px #bbbe25, 0 0 40px #2596be;
     transition-delay: 0.1s;
 } 
 /*set Books Hub Icon */
 .Logo-icon{
 width: 20px;
 height: 20px;
 margin-top: -1%;
 margin-right: 4px;
 margin-left: 0px;
 }
 
 }








/*Media Query for Iphone Plus */
@media only screen and (min-width:376px) and (max-width:414px){
   /*set div container */
   .Nav-container{
    width: 100%;
    display:flex;
    
}
/*set div for Compny name and logo */
.NameAndLogo{
    width: 41%;
    background-color: rgb(49, 89, 223);
    margin:0;
    padding:0;
    display:flex;
    justify-content:left;
    text-align:left;
    align-items:left;
    margin-top: 0%;
    margin-left: 0%;
}
/*set h2 style for company name and logo*/
.LogoAndText{
    margin-left: 0%;
    margin-top: 0%;
    display:inline-block;
    padding:13px 3px;
    color:white;
    text-transform:uppercase;
    letter-spacing:4px;
    text-decoration:none;
    font-size:12px;
    font-weight: bold;
    overflow:hidden;
    transition:0.2s;
    
}
/*set second div style for all navigation texts */
.Nav-text {
    width: 59%;
    background-color: yellow;
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    text-align:left;
    align-items:left;
}
/*set all h2 text inside second div Nav-text */
.h2-text{
margin-left: 0%;
display:inline-block;
padding:15px 12px;
color:rgb(0, 0, 0);
text-transform:uppercase;
letter-spacing:0px;
text-decoration:none;
font-size:10px;
overflow:hidden;
transition:0.2s;
cursor: pointer;
}
/*set hover effect on all h2 text inside Nav-text Div */
.h2-text:hover {
    cursor: pointer;
    color:rgb(0, 0, 0);
    box-shadow: 0 0 16px #bbbe25, 0 0 40px #2596be;
    transition-delay: 0.1s;
} 
/*set Books Hub Icon */
.Logo-icon{
width: 20px;
height: 20px;
margin-top: -1%;
margin-right: 4px;
margin-left: 0px;
}

}














/*Media Query for IPad*/
@media only screen and (min-width:415px) and (max-width:768px){
   /*set div container */
   .Nav-container{
    width: 100%;
    display:flex;
    
}
/*set div for Compny name and logo */
.NameAndLogo{
    width: 41%;
    background-color: rgb(49, 89, 223);
    margin:0;
    padding:0;
    display:flex;
    justify-content:left;
    text-align:left;
    align-items:left;
    margin-top: 0%;
    margin-left: 0%;
}
/*set h2 style for company name and logo*/
.LogoAndText{
    margin-left: 0%;
    margin-top: 0%;
    display:inline-block;
    padding:13px 3px;
    color:white;
    text-transform:uppercase;
    letter-spacing:4px;
    text-decoration:none;
    font-size:14px;
    font-weight: bold;
    overflow:hidden;
    transition:0.2s;
    
}
/*set second div style for all navigation texts */
.Nav-text {
    width: 59%;
    background-color: yellow;
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    text-align:left;
    align-items:left;
}
/*set all h2 text inside second div Nav-text */
.h2-text{
margin-left: 0%;
display:inline-block;
padding:15px 12px;
color:rgb(0, 0, 0);
text-transform:uppercase;
letter-spacing:0px;
text-decoration:none;
font-size:13px;
overflow:hidden;
transition:0.2s;
cursor: pointer;
}
/*set hover effect on all h2 text inside Nav-text Div */
.h2-text:hover {
    cursor: pointer;
    color:rgb(0, 0, 0);
    box-shadow: 0 0 16px #bbbe25, 0 0 40px #2596be;
    transition-delay: 0.1s;
} 
/*set Books Hub Icon */
.Logo-icon{
width: 20px;
height: 20px;
margin-top: -1%;
margin-right: 4px;
margin-left: 0px;
}

}






/*Media Query for IPad Pro*/
@media only screen and (min-width:769px) and (max-width:1038px){
    /*set div container */
    .Nav-container{
     width: 100%;
     display:flex;
     
 }
 /*set div for Compny name and logo */
 .NameAndLogo{
     width: 50%;
     background-color: rgb(49, 89, 223);
     margin:0;
     padding:0;
     display:flex;
     justify-content:left;
     text-align:left;
     align-items:left;
     margin-top: 0%;
     margin-left: 0%;
 }
 /*set h2 style for company name and logo*/
 .LogoAndText{
     margin-left: 0%;
     margin-top: 0%;
     display:inline-block;
     padding:13px 10px;
     color:white;
     text-transform:uppercase;
     letter-spacing:4px;
     text-decoration:none;
     font-size:16px;
     font-weight: bold;
     overflow:hidden;
     transition:0.2s;
     
 }
 /*set second div style for all navigation texts */
 .Nav-text {
     width: 50%;
     background-color: yellow;
     margin:0;
     padding:0;
     display:flex;
     justify-content:center;
     text-align:left;
     align-items:left;
 }
 /*set all h2 text inside second div Nav-text */
 .h2-text{
 margin-left: 0%;
 display:inline-block;
 padding:15px 12px;
 color:rgb(0, 0, 0);
 text-transform:uppercase;
 letter-spacing:0px;
 text-decoration:none;
 font-size:14px;
 overflow:hidden;
 transition:0.2s;
 cursor: pointer;
 }
 /*set hover effect on all h2 text inside Nav-text Div */
 .h2-text:hover {
     cursor: pointer;
     color:rgb(0, 0, 0);
     box-shadow: 0 0 16px #bbbe25, 0 0 40px #2596be;
     transition-delay: 0.1s;
 } 
 /*set Books Hub Icon */
 .Logo-icon{
 width: 25px;
 height: 25px;
 margin-top: -1%;
 margin-right: 4px;
 margin-left: 0px;
 }
 
 }
